<%- include('partials/header') %>

    <!-- Page Header Start -->
    <%- include('partials/banner', { bannerTitle: 'Documents Required' }) %>
        <!-- Page Header End -->

        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center " >
                    <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
                    <h1 class="mb-5">Get In Touch</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-6 col-md-12 " >
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Contact Info</h5>
                        <p class="mb-4">We'd love to hear from you! Whether you have a question about our courses,
                            pricing, or anything else, our team is ready to answer.</p>
                        <div class="d-flex align-items-center mb-4">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                                style="width:50px;height:50px;">
                                <i class="fa fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="ms-3">
                                <h5 class="text-primary">Office</h5>
                                <p class="mb-0">
                                    <%= contact.address %>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                                style="width:50px;height:50px;">
                                <i class="fa fa-phone-alt text-white"></i>
                            </div>
                            <div class="ms-3">
                                <h5 class="text-primary">Mobile</h5>
                                <p class="mb-0">
                                    <%= contact.phone %>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary"
                                style="width:50px;height:50px;">
                                <i class="fa fa-envelope-open text-white"></i>
                            </div>
                            <div class="ms-3">
                                <h5 class="text-primary">Email</h5>
                                <p class="mb-0">
                                    <%= contact.email %>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-dark btn-social" href="<%= social.facebook  %>"><i
                                    class="fab fa-facebook"></i></a>
                            <a class="btn btn-outline-dark btn-social" href="<%= social.instagram %>"><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-dark btn-social" href="<%= social.whatsapp  %>"><i
                                    class="fab fa-whatsapp"></i></a>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12" >
                        <form id="contact-form">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name"
                                            required>
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email"
                                            required>
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message"
                                            style="height:150px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-12">

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.1634196728173!2d76.94381987527989!3d28.394301175795796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa2c23044bc02bbd5%3A0x44622dd2e3b7478b!2sKualakubs%20Preschool%20%26%20Daycare!5e1!3m2!1sen!2sin!4v1779965731425!5m2!1sen!2sin"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>

            </div>
        </div>
        <!-- Contact End -->

        <%- include('partials/footer') %>